In [2]:
! pip install sqlalchemy pymysql pandas

Requirement already satisfied: sqlalchemy in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: pymysql in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (1.1.1)
Requirement already satisfied: pandas in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: numpy>=1.26.0 in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# Notebook Jupyter: Conectando ao MySQL com SQLAlchemy e lendo um SQL

## 1. Importando Bibliotecas


import pandas as pd
from sqlalchemy import create_engine

In [4]:
! pip install mysql

Requirement already satisfied: mysql in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\senaiprojects\fabriciosemanadc\.venv\lib\site-packages (from mysql) (2.2.4)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pymysql

In [6]:
# Definir a variável global
df_alunos = None
df_professores = None
df_avaliacoes = None
df_diarioBordo = None




def test_connection():
    global df_alunos
    global df_professores
    global df_avaliacoes
    global df_diarioBordo
    try:
        connection = pymysql.connect(
            host='localhost',
            user='root',
            password='senai@123',
            database='schooltracker',
            port=3306
        )
        print("Conexão bem-sucedida!")

        # Realizar a consulta na tabela aluno
        query = "SELECT * FROM aluno"
        df_alunos = pd.read_sql(query, connection)

        # Realizar a consulta na tabela professor
        queryProfessor = 'SELECT * FROM professor'
        df_professores = pd.read_sql(queryProfessor, connection)

        # Realizar a consulta na tabela avaliacao
        queryAvaliacao = 'SELECT * FROM avaliacao'
        df_avaliacoes = pd.read_sql(queryAvaliacao, connection)

        # Realizar a consulta na tabela diariobordo
        queryDiarioBordo = 'SELECT * FROM diariobordo'
        df_diarioBordo = pd.read_sql(queryDiarioBordo, connection)


        # Fechar a conexão
        connection.close()
        
        print("Consulta realizada e DataFrame criado!")

    except Exception as e:
        print(f"Erro ao conectar ou consultar: {e}")

# Chamar a função para estabelecer a conexão e realizar a consulta
test_connection()

Conexão bem-sucedida!
Consulta realizada e DataFrame criado!

C:\Users\ead\AppData\Local\Temp\ipykernel_19288\3464769112.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_alunos = pd.read_sql(query, connection)
C:\Users\ead\AppData\Local\Temp\ipykernel_19288\3464769112.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_professores = pd.read_sql(queryProfessor, connection)
C:\Users\ead\AppData\Local\Temp\ipykernel_19288\3464769112.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_avaliacoes = pd.read_sql(queryAvaliacao, connection)
C:\Users\ead\AppData\Local\Temp\ipykernel_19288\3464769112.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_diarioBordo = pd.read_sql(queryDiarioBordo, connection)

In [7]:
# Exibir o DataFrame
if df_alunos is not None:
    print(df_alunos.head())
else:
    print("DataFrame não foi carregado.")

   id        ra               nome  tempoestudo  rendafamiliar
0   1   0034549          Ana Silva         11.0         3200.0
1   2   0034547       Carlos Souza          6.0         3500.0
2   3  20230001  Fernanda Oliveira         13.0         4700.0
3   4  20230002     Gabriel Santos          7.0         2900.0
4   5  20230003    Juliana Pereira          8.0         3100.0

In [8]:
df_alunos.ra.head()

0     0034549
1     0034547
2    20230001
3    20230002
4    20230003
Name: ra, dtype: object

In [9]:
df_alunos.id.head()

0    1
1    2
2    3
3    4
4    5
Name: id, dtype: int64

In [10]:
df_alunos.shape

(52, 5)

In [11]:
df_professores.nome.head()

0     Ana Oliveira
1     Carlos Silva
2    Fernanda Lima
3      João Santos
4    Mariana Costa
Name: nome, dtype: object

In [12]:
df_avaliacoes.n1.head()

0    8
1    5
2    9
3    4
4    7
Name: n1, dtype: int64

## Quais bibliotecas um cientista de dados utiliza ?

- Pandas
- NumPy
- Fundamentos de IA (Scikit-Learn)

- Material Didático
- Pandas e NumPy(Notebook)
- Scikit-Learn

### Pandas : Ciência de dados
### Scikit-Learn : Elaboração de modelos de IA
### NumPy : Matemática

## 05/08/2024

- Carregar Dados (ok)
- Salvar um dataframe

In [16]:
csv_filename = 'alunos.csv'
df_alunos.to_csv(csv_filename, index=False)

In [17]:
df_professores.to_json('professores.json', index=False)

In [20]:
df_avaliacoes.to_excel('avaliacoes.xlsx', index=False)

In [19]:
pip install openpyxl

Collecting openpyxlNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   -------------- ------------------------- 92.2/250.9 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 3.1 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

### Um novo DataFrame

In [21]:
df_alunos.columns

Index(['id', 'ra', 'nome', 'tempoestudo', 'rendafamiliar'], dtype='object')

In [36]:
df_tempo_renda = df_alunos[['nome', 'tempoestudo', 'rendafamiliar']]

df_tempo_renda.head()

                nome  tempoestudo  rendafamiliar
0          Ana Silva         11.0         3200.0
1       Carlos Souza          6.0         3500.0
2  Fernanda Oliveira         13.0         4700.0
3     Gabriel Santos          7.0         2900.0
4    Juliana Pereira          8.0         3100.0

### Tipos

In [37]:
print(type(df_tempo_renda))

<class 'pandas.core.frame.DataFrame'>

### Exercício: Crie um recurso para mostrar apenas uma coluna. Mostre qual o tipo desse recurso

In [43]:
serie_tempo_renda = df_tempo_renda['rendafamiliar'].head()

print(type(serie_tempo_renda))

<class 'pandas.core.series.Series'>