Desafio:

1) Importe o arquivo alunos.csv e armazene seu conteúdo  em um DataFrame pandas.
2) Visualize as primeiras 7 linhas do DataFrame e as 5 últimas
3) Confira a quantidade linhas e colunas desse DataFrame
4) Explore as colunas do DataFrame e analise  os tipos dos dados presentes em cada coluna.

#### Importando pandas

In [65]:
import pandas as pd

url = 'dataset/alunos.csv'

data = pd.read_csv(url)

# 7 primeiros

data.head(7)

    Nome  Idade  Notas  Aprovado
0    Ary     20    7.5      True
1    Ana     18    NaN     False
2  Cátia     27    2.5     False
3  Denis     18    5.0     False
4   Beto     21   10.0      True
5  Bruna     23    NaN     False
6   Dara     21    7.0      True

In [66]:
# 5 últimos

data.tail(5)

      Nome  Idade  Notas  Aprovado
13   Mirla     25    9.0      True
14   Paulo     37    NaN     False
15  Mylena     29    7.0      True
16   Lucas     33    NaN     False
17   Nadia     34    8.0      True

In [67]:
# Verificando quantidade linhas e colunas

data.shape

(18, 4)

In [68]:
# Explorando quantidade de colunas

data.columns

Index(['Nome', 'Idade', 'Notas', 'Aprovado'], dtype='object')

In [69]:
aprovados = data['Aprovado']
idades = data['Idade']
nomes = data['Nome']
notas = data['Notas']

print(f'{nomes}')

0           Ary
1           Ana
2         Cátia
3         Denis
4          Beto
5         Bruna
6          Dara
7        Carlos
8         Alice
9         Vitor
10       Daniel
11         Igor
12    Sthefanie
13        Mirla
14        Paulo
15       Mylena
16        Lucas
17        Nadia
Name: Nome, dtype: object

In [70]:
print(f'{aprovados}')

0      True
1     False
2     False
3     False
4      True
5     False
6      True
7      True
8     False
9     False
10    False
11    False
12     True
13     True
14    False
15     True
16    False
17     True
Name: Aprovado, dtype: bool

In [71]:
print(f'{notas}')

0      7.5
1      NaN
2      2.5
3      5.0
4     10.0
5      NaN
6      7.0
7      6.0
8      5.6
9      NaN
10     NaN
11     4.5
12     9.5
13     9.0
14     NaN
15     7.0
16     NaN
17     8.0
Name: Notas, dtype: float64

In [72]:
print(f'{idades}')

0     20
1     18
2     27
3     18
4     21
5     23
6     21
7     19
8     35
9     28
10    21
11    24
12    26
13    25
14    37
15    29
16    33
17    34
Name: Idade, dtype: int64

AttributeError: 'int' object has no attribute 'iterrows'