In [ ]:
# Libertadores Dataset

In [2]:
import pandas as pd

In [ ]:
### Importando dados

In [5]:
url = 'dataset/Libertadores_Matches.csv'

data = pd.read_csv(url)

data

,datetime,home_team,away_team,home_goal,away_goal,season,stage
0,2013-02-12 20:15:00,Nacional (URU),Barcelona-EQU,2,2,2013.0,group stage
1,2013-02-13 22:00:00,Boca Juniors,Toluca,1,2,2013.0,group stage
2,2013-02-19 23:45:00,Toluca,Nacional (URU),2,3,2013.0,group stage
3,2013-02-27 19:45:00,Barcelona-EQU,Boca Juniors,1,2,2013.0,group stage
4,2013-03-07 00:15:00,Toluca,Barcelona-EQU,1,1,2013.0,group stage
...,...,...,...,...,...,...,...
1250,2022-08-30 21:30:00,Athletico,Palmeiras,1,0,2022.0,semifinals
1251,2022-09-06 21:30:00,Palmeiras,Athletico,2,2,2022.0,semifinals
1252,2022-08-31 21:30:00,Vélez Sarsfield,Flamengo,0,4,2022.0,semifinals
1253,2022-09-07 21:30:00,Flamengo,Vélez Sarsfield,2,1,2022.0,semifinals
1254,NaN,Flamengo,Athletico,-,-,NaN,final

In [6]:
# Lendo as 5 primeiras partidas

data.head(5)

,datetime,home_team,away_team,home_goal,away_goal,season,stage
0,2013-02-12 20:15:00,Nacional (URU),Barcelona-EQU,2,2,2013.0,group stage
1,2013-02-13 22:00:00,Boca Juniors,Toluca,1,2,2013.0,group stage
2,2013-02-19 23:45:00,Toluca,Nacional (URU),2,3,2013.0,group stage
3,2013-02-27 19:45:00,Barcelona-EQU,Boca Juniors,1,2,2013.0,group stage
4,2013-03-07 00:15:00,Toluca,Barcelona-EQU,1,1,2013.0,group stage

In [7]:
data.tail(5)

,datetime,home_team,away_team,home_goal,away_goal,season,stage
1250,2022-08-30 21:30:00,Athletico,Palmeiras,1,0,2022.0,semifinals
1251,2022-09-06 21:30:00,Palmeiras,Athletico,2,2,2022.0,semifinals
1252,2022-08-31 21:30:00,Vélez Sarsfield,Flamengo,0,4,2022.0,semifinals
1253,2022-09-07 21:30:00,Flamengo,Vélez Sarsfield,2,1,2022.0,semifinals
1254,NaN,Flamengo,Athletico,-,-,NaN,final

In [22]:
df = pd.DataFrame(data)

#Gols do time da casa
home_goals = df.groupby('home_team')['home_goal'].sum()

#Gols do time de fora
away_goals = df.groupby('away_team')['away_goal'].sum()

total_goals = pd.concat([home_goals, away_goals], axis=1).fillna(0)

total_goals['total_goals'] = total_goals['home_goal'] + total_goals['away_goal']

total_goals

,home_goal,away_goal,total_goals
Alianza Lima,001101002010,000000020111,001101002010000000020111
Always Ready,221220,120001,221220120001
América de Cali,010013,231100,010013231100
América-MG,021,120,021120
Argentinos Juniors,2010,2201,20102201
...,...,...,...
Unión La Calera,202,112,202112
Vasco,010,002,010002
Vélez Sarsfield,330122122321214130,013110301201113011,330122122321214130013110301201113011
Zamora,022010011021,020200130120,022010011021020200130120
Zulia,110,101,110101